.map-container {
  
    width: 50%;
    height: 500px; /* Set the initial height of the map container */
    margin: 0 auto; /* Center the map horizontally */
    border: 2px solid #ccc; /* Add a border with a light gray color */
    border-radius: 8px; /* Add rounded corners */
    margin-top: 10px;
    
  }
  
  /* Optionally, you can make the map container responsive */
  @media (max-width: 768px) {
    .map-container {
      margin-top: 20px;
      height: 400px; 
      width:320px;/* Adjust the height for smaller screens */
    }
  }
  